*.swp

*.ini
*.Zip
*.*Preview

# ignore KDS stuff
kds_workspace

**/*.g_c
**/*.g_x
**/*.cwGeneratedFileSetLog
**/ProjectInfo.xml
**/Generated_Code
**/Documentation
**/Static_Code
**/Debug
**/doxy
**/language.settings.xml

# ignore editor stuff
*.swp

SW/StepperTest/.settings/com.processorexpert.core.ide.newprojectwizard.prefs
SW/StepperTest/.settings/com.freescale.processorexpert.core.prefs
HW/Project Logs for DC_Stepper